{% extends "network/layout.html" %}

{% block body %}

    <h1 style="margin-left: 35px;">Welcome to Wellington's twitter-like Project</h1><br><br>
    <h1 style="margin-left: 35px;">Edit Post</h1>
    <div id="compose-post" class="row">
        <div class="container-fluid" style="border: 1px outset red; background-color: lightblue; margin: 35px; padding: 10px">
          <!--<h4 style="padding: 10px;">New Post</h4>-->
          <form method="POST" action="{% url 'edit_2' post.id %}" onsubmit="return false;">
            <input type="hidden" name="_method" value="put" />
            {% csrf_token %}
            <textarea id="content" name="content" rows="3" cols="180">
              {{ post.content }}
            </textarea>
            <br/>
            <button type="button" id="button_2">Save</button>
          </form>
        </div>
    </div>

    <h5></h5>

{% endblock %}
